<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.und.cs.com.heart_monitor" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Test"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".ECG"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_ecg" >
        </activity>
        <activity
            android:name=".UserData"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_user_data" >
        </activity>
        <activity
            android:name=".ViewRecording"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_view_recording" >
        </activity>
    </application>

</manifest>
